<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="user">
        <a href="/read" style="text-decoration: none;">All Users</a>
        <h2 style="padding-top: 10px;">Update User</h1>
        <form action="/update/<%=user._id%>" method="post">
            <input type="text" name = 'username' placeholder="Name" value="<%=user.username%>" required><br>
            <input type="email" name = 'email' placeholder="Email" value="<%=user.email %>" required><br>
            <input type="text" name = "image" placeholder="Image url" value="<%=user.image%>"><br>
            <input type="submit" name="submit" value="Update User" style="background-color: yellow; color: black;">
        </form>
    </div>
    <script src="/Server side rendring/public/javascript/app.js"></script>
</body>
</html>